@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Soy Daniel Valenzuela, Desarrollador Backend Jr. con experiencia en C#, ASP.NET, Java, SQL, HTML y CSS.</p>
    <p>También manejo bases de datos con MySQL Workbench y SQL Server Management Studio. Mi objetivo es crear soluciones backend eficientes y escalables.</p>

    <a href="@Url.Action("Index", "Todo")" class="btn btn-primary btn-lg mt-4">Ir a la Lista de Tareas</a>
</div>
